@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #040304;
}

::-webkit-scrollbar-thumb {
  background: #d5a310;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8900e;
}